version: 2
updates:
- package-ecosystem: gomod
  directory: "/"
  schedule:
    interval: weekly
    time: "04:00"
  open-pull-requests-limit: 10
  reviewers:
   - VictorAvelar

- package-ecosystem: github-actions
  directory: '/'
  schedule:
    interval: daily
  target-branch: master
  reviewers:
   - VictorAvelar

- package-ecosystem: docker
  directory: '/'
  schedule:
    interval: weekly
  target-branch: master
  reviewers:
   - VictorAvelar
