on:
  workflow_dispatch:
  push:
    branches:
      - master
    paths:
      - "docs/**"
      - ".github/workflows/documentation-links.yml"
  pull_request:
    paths:
      - "docs/**"
      - ".github/workflows/documentation-links.yml"

jobs:
  linkChecker:
    if: github.actor != 'dependabot[bot]'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd

      - name: Restore lychee cache
        uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5.0.2
        with:
          path: .lycheecache
          key: cache-lychee-${{ github.ref }}
          restore-keys: cache-lychee-

      - name: Link Checker
        id: lychee
        uses: lycheeverse/lychee-action@a8c4c7cb88f0c7386610c35eb25108e448569cb0 # v2.7.0
        with:
          args: --root-dir . --cache --max-cache-age 1d .
          output: ./lychee/out.md
          fail: false

      - name: 'Look for an existing issue'
        id: last-issue
        uses: micalevisk/last-issue-action@0d40124cc99ac8601c2516007f0c98ef3d27537b # v2.3.0
        with:
          state: open
          labels: |
            lychee
            automated-issue

      - name: Create Issue From File
        if: steps.lychee.outputs.exit_code != 0
        uses: peter-evans/create-issue-from-file@fca9117c27cdc29c6c4db3b86c48e4115a786710 # 6.0.0
        with:
            title: Link Checker Report
            issue-number: "${{ steps.last-issue.outputs.issue_number }}"
            content-filepath: ./lychee/out.md
            labels: |
              lychee
              automated-issue
            assignees: VictorAvelar
