on:
  workflow_dispatch:
  push:
    branches:
      - master
    paths:
      - "docs/**"
      - ".github/workflows/documentation-links.yml"
  pull_request:
    paths:
      - "docs/**"
      - ".github/workflows/documentation-links.yml"

jobs:
  linkChecker:
    if: github.actor != 'dependabot[bot]'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd

      - name: Restore lychee cache
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: .lycheecache
          key: cache-lychee-${{ github.ref }}
          restore-keys: cache-lychee-

      - name: Link Checker
        id: lychee
        uses: lycheeverse/lychee-action@885c65f3dc543b57c898c8099f4e08c8afd178a2 # v2.6.1
        with:
          args: "--base . --cache --max-cache-age 1d ."
          output: ./lychee/out.md
          fail: false

      - name: 'Look for an existing issue'
        id: last-issue
        uses: micalevisk/last-issue-action@0d40124cc99ac8601c2516007f0c98ef3d27537b # v2.3.0
        with:
          state: open
          labels: lychee, automated-issue

      - name: Create Issue From File
        if: steps.lychee.outputs.exit_code != 0
        uses: peter-evans/create-issue-from-file@fca9117c27cdc29c6c4db3b86c48e4115a786710 # 6.0.0
        with:
            title: Link Checker Report
            issue-number: "${{ steps.last-issue.outputs.issue_number }}"
            content-filepath: ./lychee/out.md
            labels: report, automated-issue, lychee
            assignees: VictorAvelar
