name: Linting with golangci-lint
on:
  push:
    branches:
      - master
  pull_request:
jobs:
  golangci:
    strategy:
      matrix:
        go-version: [1.14.x, 1.15.x]
    name: Linter
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        name: golangci-lint
      - uses: golangci/golangci-lint-action@v2
        with:
          version: v1.29
          args: --issues-exit-code=0 --output-format=github-actions
          only-new-issues: true
