name: "PR label assigner"

on:
  workflow_dispatch:
  pull_request:
    branches:
    - master
  pull_request_target:
    branches:
      - master

jobs:
  triage:
    permissions:
      checks: write
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/labeler@ba790c862c380240c6d5e7427be5ace9a05c754b
        with:
          repo-token: "${{ secrets.GITHUB_TOKEN }}"
          sync-labels: true
