name: "PR label assigner"

on:
  workflow_dispatch:
  pull_request:
    branches:
    - master
  pull_request_target:
    branches:
      - master

jobs:
  triage:
    permissions:
      checks: write
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/labeler@5c7539237e04b714afd8ad9b4aed733815b9fab4
        with:
          repo-token: "${{ secrets.GITHUB_TOKEN }}"
          sync-labels: true
